<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
         <meta charset="UTF-8">
         <title>Home Page</title>
    </head>
    <body>
        <h1>Расчет сопротивления контура заземления </h1>
        <h2>Расчет выполнен по справочнику Ю.Г. Барыбина</h2>

                <h2>Ввод данных</h2>
        <form action="/groundings" method="post">

<!--            Number: <input type="number" step="any" name="climaticRegion"><br />-->
            <tr>
                <td width="264" height="25">
                    <p style="margin-left: 40px">Климатический коэффициент: </p>
                </td>
                <td width="335" colspan="2">
                    <p style="margin-left: 10px"><select style="width:290px" size="1" name="climaticRegion1">
                        <option value="1.9">Климатическая зона I (Верт. - 1.9; Горизонт. - 5.75)</option>
                        <option value="1.7">Климатическая зона II (Верт. - 1.7; Горизонт. - 4.0)</option>
                        <option value="1.45">Климатическая зона III (Верт. - 1.45; Горизонт. - 2.25)</option>
                        <option value="1.3">Климатическая зона IV (Верт. - 1.3; Горизонт. - 1.75)</option>
                    </select></p>
                </td>
            </tr >

            <td width="264" height="25">
           Удельное сопротивление верхнего слоя грунта, Ом*м:    r1=<input type="number" step="any" name="resistanceUpGround"><br />
           Толщина верхнего слоя грунта, м:                       H=<input type="number" step="any" name="widthUpGrounding"><br />
           Удельное сопротивление нижнего слоя грунта, Ом*м:     r2=<input type="number" step="any" name="resistanceDownGround"><br />
           Количество вертикальных заземлителей, шт:          Nверт=<input type="number" step="any" name="countVerticalGrounding"><br />
           Длина вертикальных заземлителей, м:                    L=<input type="number" step="any" name="lengthVerticalGrounding"><br />
           Диаметр вертикальных заземлителей, м:              Dверт=<input type="number" step="any" name="diametrVerticalGrounding"><br />

           Длина горизонтального заземлителя, м:               Lгор=<input type="number" step="any" name="countHorizontalGrounding"><br />
           Глубина прокладки горизонтального заземлителя,м: tполосы=<input type="number" step="any" name="depthHorizontalGrounding"><br />
           Ширина горизонтального заземлителя, м:                 b=<input type="number" step="any" name="widthHorizontalGrounding"><br />
           Коэффициент использования (экранирования) вертикального заземлителя : Kив=<input type="number" step="any" name="utilizationFactorg1"><br />
           Коэффициент использования (экранирования) горизонтального заземлителя : Kиг=<input type="number" step="any" name="utilizationFactorg2"><br />
            </td>

            <button type="submit">Рассчитать</button>
        </form>


            <tr> Исходные данные</tr><br />
        <br />
            <tr th:each="grounding: ${groundings}" >
                <br />
                Климатический коэффициент для вертикального заземлителя:                 Кв=<td th:text="${grounding.climaticRegion1}"></td><br />
                Климатический коэффициент для горизонтального заземлителя:               Кг=<td th:text="${grounding.climaticRegion2}"></td><br />
                Удельное сопротивление верхнего слоя грунта, Ом*м:                       r1=<td th:text="${grounding.resistanceUpGround}"></td><br />
                Толщина верхнего слоя грунта, м:                                          H=<td th:text="${grounding.widthUpGrounding}"></td><br />

                Удельное сопротивление нижнего слоя грунта, Ом*м:                        r2=<td th:text="${grounding.resistanceDownGround}"></td>><br />
                Количество вертикальных заземлителей, шт:                             Nверт=<td th:text="${grounding.countVerticalGrounding}"></td>><br />
                Длина вертикальных заземлителей, м:                                       L=<td th:text="${grounding.lengthVerticalGrounding}"></td>><br />
                Диаметр вертикальных заземлителей, м:                                 Dверт=<td th:text="${grounding.diametrVerticalGrounding}"></td>><br />
                Длина горизонтального заземлителя, м:                                  Lгор=<td th:text="${grounding.countHorizontalGrounding}"></td>><br />
                Глубина прокладки горизонтального заземлителя,м:                    tполосы=<td th:text="${grounding.depthHorizontalGrounding}"></td>><br />
                Ширина горизонтального заземлителя, м:                                    b=<td th:text="${grounding.widthHorizontalGrounding}"></td>><br />
                Коэффициент использования (экранирования) вертикального заземлителя : Kив=<td th:text="${grounding.utilizationFactor1}"></td>><br />
                Коэффициент использования (экранирования) горизонтального заземлителя : Kиг=<td th:text="${grounding.utilizationFactor2}"></td>><br />
                <br />
        <tr> Расчетные данные</tr><br />
                Удельное сопротивление грунта, Ом*м:                                    Rуд=<td th:text="${grounding.totalElectricalResistanceGround}" ></td><br />
                Сопротивление одного вертикального электрода, Ом:                       Rв1=<td th:text="${grounding.resistanceSingleVerticalGrounding}"></td><br />
                Суммарное сопротивление вертикального заземлителя, Ом:                   Rв=<td th:text="${grounding.resistanceTotalVerticalGrounding}"></td><br />
                Сопротивление горизонтального заземлителя, Ом:                          Rг1=<td th:text="${grounding.resistanceHorizontalGrounding}"></td><br />
                Суммарное сопротивление горизонтального заземлителя, Ом:                 Rг=<td th:text="${grounding.resistanceTotalHorizontalGrounding}"></td><br />
                Сопротивление контура заземления, Ом:                                  Rобщ=<td th:text="${grounding.totalResistanceGrounding}"></td><br />
                <br />
            </tr>






</body>
</html>